@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

.header {
    background-color: #00A6FF;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    padding: 1rem 0;
}

#form {
    padding: 4.6rem;
}

#resume-form h2 {
    font-size: 2rem;
    margin-bottom: 1.4rem;
}

.personal__details,
.other__details {
    display: flex;
    flex-direction: column;
}

.personal__details label,
.other__details label {
    font-size: 1.6rem;
}

.personal__details input,
.other__details textarea {
    font-size: 1.6rem;
    padding: 1rem;
}

#generate {
    font-size: 1.6rem;
    padding: 1rem;
    border: none;
    cursor: pointer;
    background-color: #00A6FF;
    color: #fff;
}